<!-- templates/details_job.html -->
{% extends "_base.html" %}
{% load custom_filters %}
{% load static %}


<!-- Main content block is start from here -->
{% block content %}
    {% if job %}    
        <div class="border border-blue-600 m-5 px-5 pt-5 pb-2 rounded-lg"  data-tooltip-target="tooltip-animation-job-{{job.id}}">
            <h1 class="lg:text-6xl text-2xl font-bold">{{ job.position }}</h1>
            <p class="text-blue-500 italic text-3xl my-3">{{ job.recruiter.company_name }} - ( {{ job.job_type }} )</p>
            <p class="text-3xl my-5"><strong class="font-extrabold text-2xl">৳&nbsp;</strong>{{ job.salary }}</p>
            <p class="text-slate-500">{{ job.location|linebreaksbr }}</p>
            
            <div>
                <h3 class="my-3">Deadline: {{ job.deadline }}</h3>

            </div>
            <a href="" class="flex my-5 w-24 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                <span>
                    Apply
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6 font-bold">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                </svg>                  
            </a>

            <h2 class="text-4xl font-semibold my-5">About the job</h2>
            <p class="w-[90%] ms-5">
                {{ job.about_this_job|linebreaksbr }}
            </p>

            <h2 class="text-2xl font-medium my-5">Job responsibility</h2>
            <p class="w-[90%] ms-5">
                {{ job.job_responsibilities|linebreaksbr }}
            </p>

            <h2 class="text-2xl font-medium my-5">Job Requirements</h2>
            <p class="w-[90%] ms-5">
                {{ job.job_requirements|linebreaksbr }}
            </p>


            <div class="">
                {% if job.created_at %}
                    <p class="text-purple-500 text-[.7rem] lg:text-lg mt-5 text-right">Published at {{ job.created_at|calculate_days_hours_since }}</p>
                {% endif %}
            </div>
        </div>
        <div class="bg-blue-100 rounded-lg m-5 p-5">
            <h2 class="text-4xl font-semibold my-5">About the company</h2>

            <div class="flex gap-5">
                <img class="w-16" src="{% if job.recruiter.company_logo %} {{ job.recruiter.company_logo.url }} {% else %} {% static 'image/job-seeker.jpeg' %} {% endif %}" alt="{{ job.recruiter.company_name }} logo">
                <div>
                    <a href="{% url 'details_recruiter' job.recruiter.id %}" class="underline text-xl italic font-semibold">{{ job.recruiter.company_name }}</a>
                    <p>{{ job.recruiter.total_employees }} Employees</p>
                </div>
            </div>
            <div class="text-slate-500 mb-5">
                <p class="flex ms-24 my-5 font-semibold">{{ job.recruiter.main_services }}</p>
                <p>{{ job.recruiter.company_about|linebreaksbr }}</p>
            </div>
            <hr class="my-2">
            <a href="{% url 'details_recruiter' job.recruiter.id %}" class="block text-center font-semibold hover:bg-blue-400 py-2 rounded-lg transition-all">View more...</a>
        </div>
    {% endif %}
{% endblock content %}