<!-- templates/home.html -->
{% extends "_base.html" %} {% load custom_filters %} {% load static %}

<!-- Main content block is start from here -->
{% block content %} {% if recruiter %}
<div class="flex gap-5 p-10 w-screen h-[88vh]">
  <main class="w-[70%] dark:bg-slate-600 bg-white h-fit">
    <div class="relative bg-blue-50">
      <img
        class="w-full h-40 mb-3 shadow-sm object-contain rounded-tr-lg rounded-tl-lg"
        src="{% if recruiter.company_cover_photo %} {{ recruiter.company_cover_photo.url }} {% else %} {% static 'image/job-reqruiter.jpeg' %} {% endif %}"
        alt="{{ recruiter.company_name }} cover image"
      />
      <div class="absolute top-28 left-8">
        <img
          class="w-28 h-28 mb-3 rounded-full shadow-lg border-[5px] border-blue-400"
          src="{% if recruiter.company_logo %} {{ recruiter.company_logo.url }} {% else %} {% static 'image/job-reqruiter.jpeg' %} {% endif %}"
          alt="{{ recruiter.company_name }} logo"
        />
      </div>
    </div>
    <div class="mt-20 mx-8">
      <h1 class="text-3xl font-bold">{{ recruiter.company_name }}</h1>
      <p class="text-blue-400 italic">
        {{ recruiter.company_address|linebreaksbr }}
      </p>
      <p class="my-3">
        <span class="font-semibold">Website: </span>{% if recruiter.website %}
        <a class="underline text-blue-500" target="_blank" href="{{ recruiter.website }}" >{{ recruiter.website }}</a>
        {% else %} Not-updated-yet{% endif %}
      </p>
      <div class="mt-4 md:mt-6">
        <a
          href="#"
          class="flex gap-1 max-w-[8rem] text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Message
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            data-slot="icon"
            class="w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="mt-5 mx-8">
      <h1 class="font-semibold text-3xl">About</h1>
      <p class="my-3">
        {% if recruiter.company_about %} 
        {{ recruiter.company_about|linebreaksbr}} 
        {% else %} Not-updated-yet{% endif %}
      </p>
    </div>

    <h1 class="font-bold text-4xl mx-5 my-5 text-violet-500 italic">
      Published Job posts
    </h1>
    {% if jobs %} 
    {% for job in jobs %}
    <a href="{% url 'details_job' job.id %}" class="">
      <div
        class="border border-blue-600 m-5 px-5 pt-5 pb-2 rounded-lg hover:bg-blue-200"
        data-tooltip-target="tooltip-animation-job-{{job.id}}">
        <h1 class="lg:text-2xl text-xl font-bold">{{ job.position }}</h1>
        <p class="text-blue-500 italic">
          {{ job.recruiter.company_name }} - ( {{ job.job_type }} )
        </p>
        <p class="text-slate-500 dark:text-slate-200">{{ job.location }}</p>

        <div class="flex justify-between align-bottom">
            {% if job.salary %}
            <p> <strong class="font-extrabold text-sm">৳&nbsp;</strong>{{ job.salary }} </p>
            {% else %}
            <p>Negotiable </p>
            {% endif %}
          {% if job.created_at %}
          <p class="text-purple-500 text-[.7rem] lg:text-sm text-right">
            Published at {{ job.created_at|calculate_days_hours_since }}
          </p>
          {% endif %}
        </div>

        {% comment %} Tooltip for jobseeker {% endcomment %}
        <div
          id="tooltip-animation-job-{{job.id}}"
          role="tooltip"
          class="absolute z-30 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          View details of this job
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        {% comment %} tooltip end {% endcomment %}
      </div>
    </a>
    {% endfor %} {% else %}
    <p class="text-center py-5 bg-blue-100 mx-5 mb-3 rounded-lg font-semibold">
      Not-posted-yet
    </p>
    {% endif %}
  </main>
  <aside class="w-[30%] flex flex-col gap-5">
    {% for rectr in recruiters %}
    <div
      class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col items-center py-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% if rectr.company_logo %} {{ rectr.company_logo.url }} {% else %} {% static 'image/job-reqruiter.jpeg' %} {% endif %} "
          alt="{{ rectr.company_name }} logo"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          {{ rectr.company_name }}
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400 text-center"
          >{% if rectr.main_services %} {{ rectr.main_services }} {% else %}
          Not-available-yet {% endif %}</span
        >
        <div class="flex mt-4 md:mt-6">
          <a
            href="{% url 'details_recruiter' rectr.id %}"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >View Details</a
          >
          <a
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3"
            >Message</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </aside>
</div>
{% endif %} {% endblock content %}
